There are <%=pluralize(@person_count1, 'person') %> signed up.
There are <%=pluralize(@person_count2, 'ox') %> signed up.
<%= truncate(@text, :length => 20) %>

<ul>
<% @numbers.each do |num| %>
  <li style="background-color: <%= cycle('red', 'green', 'orange', 'purple') %> ;"><%= num %></li>
<% end %>
<ul>

