%h1 Light Brite!
#selected.box
= text_field_tag 'number', nil, :autofocus => true
= button_tag 'Add number', :id => 'submit'
= button_tag 'Square', :id => 'square'
= button_tag 'start', :id => 'start'
= button_tag 'stop', :id => 'stop'
#boxes
  .clear