<!DOCTYPE html>
<html>
<head>
  <title>R20130212Planets</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<header>
  <nav>
    <ul>
      <li><%= link_to("planets", planets_path)%></li>
      <li><%= link_to("new", planets_new_path)%> </li>
    </ul>
  </nav>
</header>
<body>

<%= yield %>

</body>
</html>
